<a href="https://colab.research.google.com/github/ahmedmoustafa/datasets/blob/main/evaluation/evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Course Evaluation Dataset

## Sept 21, 2023

In [1]:
df = read.csv ("https://raw.githubusercontent.com/ahmedmoustafa/datasets/main/evaluation/evaluation.csv")
head(df)

  Major Course Score Grade Evaluation
1 CS    CS_101 46.10 F     4
2 CS    CS_102 81.71 B     8
3 CS    CS_103 68.13 D     9
4 CS    CS_101 62.55 D     6
5 CS    CS_102 76.94 C     7
6 CS    CS_103 72.96 C     8